{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-left"><h2 class="no-margins">Your Checkouts</h2></div>
            <div id="checkedOutItemListFilter" class="pull-right">
                <input type="text" id="checkedOutSearch" placeholder="Search Your Checkouts">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table id="yourCheckedOutList" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Item Type</th>
                        <th>Name</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in checkedoutitems %}
                    <tr>
                        <td>{{ item.pk }}</td>
                        <td>{{ item.item_type.name }}</td>
                        <td><a href="/item/{{ item.pk }}">{{ item.name }}</a></td>
                        <td>{{ item.owner_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">

            <div class="pull-left"><h2 class="no-margins">Available Items</h2></div>
            <div id="availableItemListFilter" class="pull-right">
                <input type="text" id="searchAvailable" placeholder="Search Available Items">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table id="availableItemList" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Item Type</th>
                        <th>Name</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in items %}
                    <tr>
                        <td>{{ item.pk }}</td>
                        <td>{{ item.item_type.name }}</td>
                        <td><a href="/item/{{ item.pk }}">{{ item.name }}</a></td>
                        <td>{{ item.owner_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block pageJavascript %}
    <!-- The following table filter script is from http://jsfiddle.net/7BUmG/2/ !-->
    <script type="text/javascript">
        var $checkedOutRows = $('#yourCheckedOutList tbody tr');
        $('#checkedOutSearch').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $checkedOutRows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        var $availablerows = $('#availableItemList tbody tr');
        $('#searchAvailable').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $availablerows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>
{% endblock %}
