<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        <title>TATT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        {% block head_styles %}
        {% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

        {% if badcred %}
        <script>
            $(window).load(function()
            {
                $('#logInModal').modal('show');
            });
        </script>
        {% endif %}

    </head>
    <body>
        <div id="wrap">
            <!-- Login Button -->
            <div class="row" id="page_header">
                <div  id="login_buttons" class="span3 offset10">
                    {% if user.is_anonymous %}
                    <a href="#logInModal" role="button" class="btn-large btn-primary" data-toggle="modal">Login</a>
                    <a href="/register/" role="button" class="btn-primary btn-success btn-large">Register</a>
                    {% else %}
                    Hi, {{user.first_name}} <a href="/logout" role="button" class="btn-large btn-primary">Logout</a>
                    {% endif %}
                </div>
            </div>

            <div id="space"></div>
            <!-- Main Part -->
            <div class="container-fluid">
                <div id="content" class="span6 offset2">
                    <!-- Modal for the log in -->
                    {% block modals %}
                    {% if user.is_anonymous %}
                        <!-- Modal for the log in -->
                        <div id="logInModal" class="modal hide fade">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            </div>
                            {% load crispy_forms_tags %}
                            {% crispy login_form %}
                            <!--
                            <form class="form-horizontal">
                                <div class="modal-body">
                                    <div class="control-group">
                                        <label class="control-label" for="name">Username:</label>
                                        <input id="name" type="text" placeholder="Username">
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password:</label>
                                        <input id="password" type="text" placeholder="Password">
                                    </div>    
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" type="submit">Login</button>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                </div>
                            </form>
                            -->
                        </div>
                    {% endif %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div id="copyright" class="row">
                    <div class="offset1">
                        <p class="muted credit">&copy; {% now "Y" %} Track all the Things team</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
