<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        <title>TATT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?cachehash={{ cache_hash }}">
        {% block head_styles %}
        {% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">

        {% if badcred %}
        <script>
            $(window).load(function()
            {
                $('#logInModal').modal('show');
            });
        </script>
        {% endif %}

    </head>
    <body>
        <div id="wrap">
            <!-- Login Button -->
			<div class="container">
                <div id="page_header" class="row">
                    <div class="span9 top_buttons">
                        {% if not homepage %}
                        <a href="/" role="button" class="btn-large btn-primary">Home</a>
                        {% elif homepage and user.is_active %}
                        <a href="/items/" role="button" class="btn-large btn-primary">My Items</a>
                        {% else %}
                        <a href="/about/" role="button" class="btn-large btn-primary">About</a>
                        {% endif %}
                        {% block contextButtons %}

                        {% endblock %}
                    </div>
                    <div class="span3 top_buttons pull-right">
                        <div class="pull-right">
                            {% if user.is_anonymous %}
                            <a href="#logInModal" role="button" class="btn-large btn-primary" data-toggle="modal">Login</a>
                            <a href="/register/" role="button" class="btn-primary btn-success btn-large">Register</a>
                            {% else %}
                            Hi, {{user.first_name}} <a href="/logout" role="button" class="btn-large btn-primary btn-danger">Logout</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="main_section" class="row-fluid">
                        <!-- Main Content Area -->

                    <div class="row-fluid">
                        <div id="content" class="span12">
                            <!-- Modal for the log in -->
                        {% block modals %}
                            {% if user.is_anonymous %}
                            <!-- Modal for the log in -->
                            <div id="logInModal" class="modal hide fade">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body">
                                    {% load crispy_forms_tags %}
                                    {% crispy login_form %}
                                </div>
                            </div>
                            {% endif %}
                            {% endblock %}
                            {% block content %}
                            {% endblock %}
                            </div>
                        </div>

                        <!-- End Main Content Area !-->
                    </div>
                </div>

            </div>



		<div id="allTheThingsContainer">
			<img id="allTheThings2" src="{{ STATIC_URL }}images/allTheThingsBack.png" data-xrange="40" data-yrange="20" data-invert="true" />
			<img id="allTheThings" src="{{ STATIC_URL }}images/allTheThings.png" data-xrange="40" data-yrange="40" />
		</div>



        <div id="push"></div>
        <div id="footer">
            <div class="container">
                <div id="copyright" class="row">
                    <div class="span12">
                        <p class="muted credit">&copy; {% now "Y" %} Track all the Things team</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts located here for faster page loading !-->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/plax.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js?cachehash={{ cache_hash }}"></script>
        {% block pageJavascript %}
        {% endblock %}
    </body>
</html>
