{% extends "base.html" %}
{% block modals %}
    {{ block.super }}
    <!-- Modal for the log in -->
    <div id="logInModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        {% load crispy_forms_tags %}
        {% crispy login_form %}
        <!--
        <form class="form-horizontal">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="name">Username:</label>
                    <input id="name" type="text" placeholder="Username">
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password:</label>
                    <input id="password" type="text" placeholder="Password">
                </div>	
            </div>
            <div class="modal-footer">
                <button class="btn" type="submit">Login</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </form>
        -->
    </div>
{% endblock %}
{% block content %}
    <div style="text-align:center">
        <h1>TATT</h1>
        <h2>Track All The Things</h2>
    </div>
{% endblock %}
