{% extends "base.html" %}

{% block contextButtons %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div id="itemDetails">
                <p>Name: {{ item }}
                <p>Location: {{ item.location }}
                <p>Type: {{ item.item_type }}
                <p>Owner: {{ item.owner_id }}
                <p>Checked out by: {{ item.checked_out_by }}
                {% for attr_val in attr_vals %}
                    <p>{{ attr_val.attribute.name }}: {{attr_val.value }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if checkedoutto %}
    <a href="/checkin/{{ item.id }}" role="button" class="btn-large btn-primary">Check In</a>
    {% elif owner and not item.can_checkout %}
    <a href="/make_avail/{{ item.id }}" role="button" class="btn-large btn-primary">Make Available</a>
    {% elif owner and item.can_checkout %}
    <a href="/make_avail/{{ item.id }}" role="button" class="btn-large btn-primary">Make Unavailable</a>
    {% elif item.can_checkout and not owner %}
    <a href="/checkout/{{ item.id }}" role="button" class="btn-large btn-primary">Checkout</a>
    {% elif owner %}
    <a href="/checkin/{{ item.id }}" role="button" class="btn-large btn-primary">Check In</a>
    {% endif %}

{% endblock %}

{% block pageJavascript %}
{% endblock %}
