{% extends "base.html" %}

{% block contextButtons %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div id="itemDetails">
                <p>Name: {{ item }}
                <p>Location: {{ item.location }}
                <p>Type: {{ item.item_type }}
                <p>Owner: {{ item.owner_id }}
                <p>Checked out by: {{ item.checked_out_by }}
                {% for attr_val in attr_vals %}
                    <p>{{ attr_val.attribute.name }}: {{attr_val.value }}
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="/checkout/{{ item.id }}" role="button" class="btn-large btn-primary">Checkout</a>

{% endblock %}

{% block pageJavascript %}
{% endblock %}
