{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
<th>#</th>
<th>Item Type</th>
<th>Name</th>
<th>Location</th>
<th>Due Date</th>
<th>Owner Name</th>
<th>Checked Out By</th>
<th>Last Accounted For</th>
    {% for item in items %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.item_type.name }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.due_date}}</td>
            <td>{{ item.owner_id }}</td>
            <td>{{ item.checked_out_by }}</td>
            <td>{{ item.last_accounted_for }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
