/* line 2, ../../../../compass/sass/main.scss */
html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
/* line 7, ../../../../compass/sass/main.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer */
/* line 17, ../../../../compass/sass/main.scss */
#push,
#footer {
  height: 60px;
}

/* line 20, ../../../../compass/sass/main.scss */
#footer {
  background-color: #f5f5f5;
}

/* line 24, ../../../../compass/sass/main.scss */
.container {
  width: auto;
  max-width: 960px;
}

/* line 28, ../../../../compass/sass/main.scss */
.container .credit {
  margin: 20px 0;
}

/* Welcome to Compass.
    * In this file you should write your main styles. (or centralize your imports)
    * Import this file using the following HTML or equivalent:
    * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
