/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #0066cc;
}
a:visited {
  color: #004c99;
}
a:focus {
  color: #0099ff;
}
a:hover {
  color: #0099ff;
}
a:active {
  color: #bf00ff;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

thead th {
  background: #c3d9ff;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eeeeee;
}

.quiet {
  color: #666666;
}

.loud {
  color: #111111;
}

label {
  font-weight: bold;
}

fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
}

input.text, input.title, input[type=email], input[type=text], input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
input.title {
  font-size: 1.5em;
}

textarea {
  margin: 0.5em 0;
  padding: 5px;
}

select {
  margin: 0.5em 0;
}

fieldset {
  border: 1px solid #cccccc;
}

input.text, input.title, input[type=email], input[type=text], input[type=password],
textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
input.text:focus, input.title:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus,
textarea:focus {
  border-color: #666666;
}

select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

input.text, input.title, input[type=email], input[type=text], input[type=password] {
  width: 300px;
}

textarea {
  width: 390px;
  height: 250px;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

body {
  background-color: #bbb;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}

#main {
  overflow: auto;
  padding-bottom: 31px;
  /* must be same height as the footer */
  min-height: 100%;
}

#header {
  height: 127px;
  position: relative;
  border-bottom: 1px solid black;
}
#header .site_logo {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
#header .login {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}
#header .login input.text, #header .login input.title, #header .login input[type=email], #header .login input[type=text], #header .login input[type=password] {
  width: 100px;
}
#header .login textarea {
  width: 390px;
  height: 250px;
}

#contentContainer {
  background-color: white;
  height: 100%;
}

#horizontal_nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 940px;
  padding: 5px 10px;
  background-color: #aba;
}
#horizontal_nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
#horizontal_nav li:first-child, #horizontal_nav li.first {
  padding-left: 0;
}
#horizontal_nav li:last-child {
  padding-right: 0;
}
#horizontal_nav li.last {
  padding-right: 0;
}
#horizontal_nav ul {
  padding-top: 5px;
  width: 60%;
  float: left;
  height: 8px;
}
#horizontal_nav #quick_search {
  float: right;
}
#horizontal_nav #quick_search input.text, #horizontal_nav #quick_search input.title, #horizontal_nav #quick_search input[type=email], #horizontal_nav #quick_search input[type=text], #horizontal_nav #quick_search input[type=password] {
  width: 130px;
}
#horizontal_nav #quick_search textarea {
  width: 390px;
  height: 250px;
}
#horizontal_nav #quick_search input {
  margin: 2px 0px;
  height: 12px;
}
#horizontal_nav #quick_search .search_submit {
  height: 25px;
}

#side_nav {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  width: 140px;
  min-height: 100%;
}
#side_nav li {
  list-style-type: none;
}

#content {
  float: right;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  width: 784px;
  min-height: 200px;
  border-left: 1px solid black;
}
#content h1 {
  display: block;
  font-size: 2em;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}

.table_items td {
  max-width: 200px;
}

#item_details {
  float: left;
  width: 80%;
}

#item_qr {
  float: right;
}

#footer {
  clear: both;
  height: 30px;
  border-top: 1px solid black;
  width: 960px;
  position: relative;
  margin-top: -31px;
  /* negative value of footer height */
  margin-left: auto;
  margin-right: auto;
}
#footer .copyright {
  line-height: 30px;
  font-size: 1em;
  padding: 0em 1em;
}
